<template name="ViewProduct">
  <div class="row" style="padding-left: 30%">
    <div class="col s12 m6">
      <div class="card ">
        <div class="card-content black-text ">
          <p class="col s6 m6" style="text-align: left"><a href="/products/edit/{{producto._id}}" class="btn light-blue waves-effect waves-light botonEditar">Editar</a></p>
          <p class="col s6 m6" style="text-align: right"><a href="/">{{> quickRemoveButton collection="Products" _id=producto._id}}</a></p>
          <span class="card-title"> {{producto.name}} Test </span><br>
          <div class="slider">
            <ul class="slides">
              {{#each images}}
              <li>
              <img src="{{url}}"> <!-- random image -->
              </li>
              {{/each}}
            </ul>
          </div>
          <!--{{> quickForm collection="Products" id="insertProductForm" type="insert" buttonContent="Add"}}-->
          <p><span class="light-blue">Nombre:</span> {{producto.name}}</p>
          <p><span class="light-blue">Precio:</span> {{producto.price}}</p>
          <p><span class="light-blue">Descripcion:</span> {{producto.description}}</p>


        </div>
      </div>
    </div>
  </div>

</template>
