<template name="ViewProduct">

<div class="col-md-4">
  <div class="card medium col-sm-12 col-md-12 z-depth-2">
    <div class="card-header">
      <p class="flow-text"> {{producto.name}}</p>
    </div>
    <div class="card-content">


        <p><b> Nombre: </b>{{producto.name}}</p>

        <p><b>Descripcion: </b>{{producto.description}}</p>
         <b>Precio: </b> $ {{producto.price}}
    </div>

    </div>


</div>
<div class="col-md-8">
  <div class="card large col-sm-12 col-md-12 z-depth-2">

<div class="slider">
  <ul class="slides">
    {{#each images}}
    <li>
      <img src="{{url}}" alt="image"/>
    </li>
    {{/each}}
  </ul>
</div>






  </div>
</div>



</template>
