<template name="Store">
	<head>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	</head>
	{{#each products}}
	<div class="col-md-4">
		<div class="card medium col-sm-12 col-md-12">
			<div class="card-image">
				<img src="{{image.url}}">
			</div>
			<div class="card-content">
				<span class="card-title activator grey-text text-darken-4">{{name}}<i class="material-icons right">more_vert</i></span>
				<p>Lps.{{price}}</p>
				<a href="/products/{{_id}}" class="btn waves-effect waves-light botonVer">Ver Producto</a>
				<!--<a href="/products/{{_id}}">ver producto</a>-->
			</div>
			<div class="card-reveal">
				<span class="card-title grey-text text-darken-4">{{name}}<i class="material-icons right">close</i></span>
				<p>{{description}}</p>
				<p>Lps.{{price}}</p>
			</div>
		</div>
	</div>
	{{/each}}
</template>
